# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
.venv/
venv/
*.egg-info/

# Virtual environments
env/
ENV/
*.env

# Labeling artifacts
*.json
*.csv
*.tsv

# Dataset content
data/images/*
data/labels/*

# Model weights and outputs
runs/
outputs/
*.pt
*.onnx
*.tflite

# Logs
*.log
outputs/logs/
wandb/

# System files
.DS_Store
Thumbs.db